#feature {
  padding: 80px 0;
  .media {
    margin: 0px 0 70px 0;
    .media-left {
      padding-right: 25px;
    }
  }
  h3 {
    color: $black;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin: 0px 0px 15px;
    font-weight: 400;
  }
  p {
    line-height: 25px;
    font-size: 14px;
    color: #777777;
  }
  .icon {
    text-decoration: none;
    color: $white;
    background-color: $primary-color;
    height: 100px;
    text-align: center;
    width: 100px;
    font-size: 50px;
    line-height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-shadow: #8f0404 1px 1px, #8f0404 2px 2px, #8f0404 3px 3px, #8f0404 4px 4px, #8f0404 5px 5px, #8f0404 6px 6px, #8f0404 7px 7px, #8f0404 8px 8px, #8f0404 9px 9px, #8f0404 10px 10px, #8f0404 11px 11px, #8f0404 12px 12px, #8f0404 13px 13px, #8f0404 14px 14px, #8f0404 15px 15px, #8f0404 16px 16px, #8f0404 17px 17px, #8f0404 18px 18px, #8f0404 19px 19px, #8f0404 20px 20px, #8f0404 21px 21px, #8f0404 22px 22px, #8f0404 23px 23px, #8f0404 24px 24px, #8f0404 25px 25px, #8f0404 26px 26px, #8f0404 27px 27px, #8f0404 28px 28px, #8f0404 29px 29px, #8f0404 30px 30px, #8f0404 31px 31px, #8f0404 32px 32px, #8f0404 33px 33px, #8f0404 34px 34px, #8f0404 35px 35px, #8f0404 36px 36px, #8f0404 37px 37px, #8f0404 38px 38px, #8f0404 39px 39px, #8f0404 40px 40px, #8f0404 41px 41px, #8f0404 42px 42px, #8f0404 43px 43px, #8f0404 44px 44px, #8f0404 45px 45px, #8f0404 46px 46px, #8f0404 47px 47px, #8f0404 48px 48px, #8f0404 49px 49px, #8f0404 50px 50px, #8f0404 51px 51px, #8f0404 52px 52px, #8f0404 53px 53px, #8f0404 54px 54px, #8f0404 55px 55px, #8f0404 56px 56px, #8f0404 57px 57px, #8f0404 58px 58px, #8f0404 59px 59px, #8f0404 60px 60px, #8f0404 61px 61px, #8f0404 62px 62px, #8f0404 63px 63px, #8f0404 64px 64px, #8f0404 65px 65px, #8f0404 66px 66px, #8f0404 67px 67px, #8f0404 68px 68px, #8f0404 69px 69px, #8f0404 70px 70px, #8f0404 71px 71px, #8f0404 72px 72px, #8f0404 73px 73px, #8f0404 74px 74px, #8f0404 75px 75px, #8f0404 76px 76px, #8f0404 77px 77px, #8f0404 78px 78px, #8f0404 79px 79px, #8f0404 80px 80px, #8f0404 81px 81px, #8f0404 82px 82px, #8f0404 83px 83px, #8f0404 84px 84px, #8f0404 85px 85px, #8f0404 86px 86px, #8f0404 87px 87px, #8f0404 88px 88px, #8f0404 89px 89px, #8f0404 90px 90px, #8f0404 91px 91px, #8f0404 92px 92px, #8f0404 93px 93px, #8f0404 94px 94px, #8f0404 95px 95px, #8f0404 96px 96px, #8f0404 97px 97px, #8f0404 98px 98px, #8f0404 99px 99px, #8f0404 100px 100px;
  }
}